
<div class="col-md-12 col-sm-12">
    <div class="x_panel">
        <div class="x_title">
            <h2>Initiative Comment</h2>
            <div class="clearfix"></div>
        </div>
        <div class="x_content">
            <ul class="list-unstyled timeline">
                <li>
                    <div class="block">
                        <div class="tags">
                            <a href="javascript:void(0);" class="tag">
                                <span>Agency</span>
                            </a>
                        </div>
                        <div class="block_content">
                            <h2 class="title">
                                <a>Agency Comment</a>
                            </h2>
                            <div class="byline">
                                <span>&nbsp;</span>
                            </div>
                            <p class="excerpt agencyexcerpt"></p>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="block">
                        <div class="tags">
                            <a href="javascript:void(0)" class="tag">
                                <span>RPOC</span>
                            </a>
                        </div>
                        <div class="block_content">
                            <h2 class="title">
                                <a>RPOC Comment</a>
                            </h2>
                            <div class="byline">
                                <span>&nbsp;</span>
                            </div>
                            <p class="excerpt rpocexcerpt"></p>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="block">
                        <div class="tags">
                            <a href="javascript:void(0)" class="tag">
                                <span>HO</span>
                            </a>
                        </div>
                        <div class="block_content">
                            <h2 class="title">
                                <a>HO Comment</a>
                            </h2>
                            <div class="byline">
                                <span>&nbsp;</span>
                            </div>
                            <p class="excerpt hoexcerpt"></p>
                        </div>
                    </div>
                </li>
            </ul>

        </div>
    </div>
</div>