<!-- footer content -->
<footer>
    <div class="pull-right">
        GAIN V2.0.2 - Provided by <a href="mailto:asia.itretsupport@cma-cgm.com">CMA-CGM APAC DIGITAL FACTORY</a>
    </div>
    <div class="clearfix"></div>
</footer>
<!-- /footer content -->
