
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutTable.cshtml";
}

<script type="text/javascript">    
    function OnSelectedIndexChanged(s, e) {
        debugger
        $.ajax({
            url: '@Url.Action("GetSubRegionByRegionID")',
            type: "POST",
            dataType: "json",
            data: { RegionID: GrdCountry.GetEditor('RegionID').GetValue() },
            success: function (data) {
                debugger;
                value = JSON.stringify(data);
                obj = JSON.parse(value);
                if (obj != null) {
                    x = obj[0].SubRegionName;
                    GrdCountry.GetEditor('SubRegionID').SetValue(x);
                }
            },
            error: function (xhr, textStatus, errorThrown) {
                alert('Request Status: ' + xhr.status + '; Status Text: ' + textStatus + '; Error: ' + errorThrown);
            }
        });
    }
    window.onload = loadsettings;
</script>

@Html.Partial("_ViewKebutuhanDevExpress")

@Html.Partial("_StyleMaster")

<div class="row" style="display: block;">
    <div class="col-md-12 col-sm-12  ">
        <div class="x_panel">
            <div class="x_title">
                <h2>Country List</h2>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">

                @using (Html.BeginForm())
                {
                    @Html.Action("GrdCountryPartial")
                }
            </div>
        </div>
    </div>
</div>

