@Html.Partial("_ViewKebutuhanDevExpress")

<style type="text/css">
    .ComboCSS {
        /*display: block;*/
        width: 100%;
        height: calc(1.5em + .75rem + 1px);
        font-size: 11pt;
        margin-bottom: 15px;
    }
</style>


@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutTable.cshtml";
}

<script type="text/javascript">
    function OnCboYearChanged(s, e) {
        //var id = s.GetValue();
    }
</script>

<div class="row" style="display: block;">
    <div class="col-md-12 col-sm-12  ">
        <div class="x_panel">
            <div class="clearfix"></div>
            <div class="x_content">
                <h2>MONTHLY SAVING DASHBOARD</h2>
            </div>
        </div>
    </div>
</div>

<div class="row" style="display: block;">
    <div class="col-md-12 col-sm-12  ">
        <div class="x_panel">
            <div class="x_title">
                <h2>Year of Monthly Saving: </h2>
                <div class="col-md-1 col-sm-1  ">
                    @{
                        var profileData = this.Session["DefaultGAINSess"] as GAIN.Models.LoginSession;
                        Html.DevExpress().ComboBox(settings =>
                        {
                            settings.Name = "CboYear";
                            settings.ControlStyle.CssClass = "ComboCSS";
                            for (int i = (DateTime.Now.Year) + 1; i >= 2000; i--)
                            {
                                if (profileData.ProjectYear > 0 && i == profileData.ProjectYear)
                                {
                                    settings.Properties.Items.Add("" + i + "", i).Selected = true;
                                }
                                else if (i == DateTime.Now.Year)
                                {
                                    settings.Properties.Items.Add("" + i + "", i).Selected = true;
                                }
                                else
                                {
                                    settings.Properties.Items.Add("" + i + "", i);
                                }
                            }
                            settings.Properties.ClientSideEvents.ValueChanged = "OnCboYearChanged";
                        }).GetHtml();
                    }
                </div>
                <div class="col-md-9a col-sm-9">
                    <div style="float:right;">
                        @*<a id="BtnInitiative" class="btn btn-app btn-primary"><i class="fa fa-edit"></i> Add New</a>&nbsp;
                            <a class="btn btn-app btn-success" id="BtnExportXls" onclick="BtnExportXls();"><i class="fa fa-file-excel-o"></i> Export Excel</a>&nbsp;
                            <a class="btn btn-app btn-danger" id="BtnExportPdf" onclick="BtnExportPdf();"><i class="fa fa-file-pdf-o"></i> Export PDF</a>&nbsp;*@

                        @*<button class="btn btn-app btn-primary" id="BtnInitiative" style="font-size:9pt;color:white;background-color:#007bff;"><i class="fa fa-edit"></i> Create New</button>
                        <button class="btn btn-app btn-success" id="BtnExportXls" onclick="BtnExportXls();" style="font-size:9pt;color:white;background-color:#26B99A;"><i class="fa fa-file-excel-o"></i> Export Excel</button>
                        <button class="btn btn-app btn-danger" id="BtnExportPdf" onclick="BtnExportPdf();" style="font-size:9pt;color:white;background-color:#dc3545;"><i class="fa fa-file-pdf-o"></i> Export PDF</button>*@
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                &nbsp;
            </div>
        </div>
    </div>
</div>


