<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <!-- Alternatively, use the DevExpress NuGet Feed: https://nuget.devexpress.com -->
	
    <add key="Package Source Nuget" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
    <add key="DevExpress" value="https://nuget.devexpress.com/CrHFFwpZn2Hckrjm7k6JyVaodNNbkUAFZ4UYlfcCiKL9Z9R291/api" />
    <add key="NuGet CMA-CGM Nexus OSS" value="https://nexusoss.cma-cgm.com:8443/repository/nuget-group/" />
  </packageSources>
</configuration>