<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
<!--add key="NuGet official package source" value="
https://api.nuget.org/v3/index.json"
/-->
<add key="DevExpress" value="https://nuget.devexpress.com/CrHFFwpZn2Hckrjm7k6JyVaodNNbkUAFZ4UYlfcCiKL9Z9R291/api" />

<add key="NuGet V2 CMA-CGM Nexus OSS" value="
https://integration.shared-services-prd.aws.cld.cma-cgm.com/nexus/repository/nuget-group-v2/"
/>
<add key="NuGet V3 CMA-CGM Nexus OSS" value="
https://integration.shared-services-prd.aws.cld.cma-cgm.com/nexus/repository/nuget-group-v3/index.json"
/>
</packageSources>

</configuration>