<?xml version="1.0" encoding="utf-8"?>

<!-- For more information on using web.config transformation visit https://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <!--
    In the example below, the "SetAttributes" transform will change the value of 
    "connectionString" to use "ReleaseSQLServer" only when the "Match" locator 
    finds an attribute "name" that has a value of "MyDB".
    
    <connectionStrings>
      <add name="MyDB" 
        connectionString="Data Source=ReleaseSQLServer;Initial Catalog=MyReleaseDB;Integrated Security=True" 
        xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    </connectionStrings>
	
	
  -->
	<connectionStrings>
		<!-- <add name="GainEntities" connectionString="metadata=res://*/Models.GainModel.csdl|res://*/Models.GainModel.ssdl|res://*/Models.GainModel.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=localhost;user id=root;password=password01;database=gain2;port=3306;Oldguids=true;Sslmode=none;charset=utf8;Persist Security Info=True;Connection timeout=3600;Convert Zero Datetime=true&quot;" providerName="System.Data.EntityClient" /> -->
		<!--<add name="GainEntities" connectionString="metadata=res://*/Models.GainModel.csdl|res://*/Models.GainModel.ssdl|res://*/Models.GainModel.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=localhost;user id=root;password=12344321;persistsecurityinfo=True;port=3336;database=gain_v2;Oldguids=true;Sslmode=none;charset=utf8;Persist Security Info=True;Connection timeout=3600;Convert Zero Datetime=true&quot;" providerName="System.Data.EntityClient" />-->
		<add name="GainEntities" connectionString="metadata=res://*/Models.GainModel.csdl|res://*/Models.GainModel.ssdl|res://*/Models.GainModel.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server={{MYSQL_HOST}}; Port=3350; user id={{MYSQL_UID}};password={{MYSQL_PWD}};Sslmode=none;persistsecurityinfo=True;database={{MYSQL_DB}};Persist Security Info=True;Convert Zero Datetime=true&quot;" providerName="System.Data.EntityClient" />
	</connectionStrings>
  <system.web>
    <!--
      In the example below, the "Replace" transform will replace the entire 
      <customErrors> section of your web.config file.
      Note that because there is only one customErrors section under the 
      <system.web> node, there is no need to use the "xdt:Locator" attribute.
      
      <customErrors defaultRedirect="GenericError.htm"
        mode="RemoteOnly" xdt:Transform="Replace">
        <error statusCode="500" redirect="InternalError.htm"/>
      </customErrors>
    -->
  </system.web>
</configuration>