@Html.Partial("_ViewKebutuhanDevExpress")

@Html.Partial("_StyleInitiative")

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutTable.cshtml";
}

<script type="text/javascript">
    function OnCboYearChanged(s,e)
    {
        var id = s.GetText();//s.GetValue();
        $.post("@Url.Content("~/ActiveInitiative/ProjectYear")", { Id: id }, function () {
            window.location.reload();
        });
    }

</script>

<div class="row" style="display: block;">
    <div class="col-md-12 col-sm-12  ">
        <div class="x_panel">
            <div class="x_title">
                <h2>Saving Monitoring in Year: </h2>
                <div class="col-md-1 col-sm-1  ">
                    @Html.Action("CboYear")
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">

                @using (Html.BeginForm())
                {
                    @Html.Action("GrdInitSavingMonitoringPartial")
                }
                @*<table class="table table-striped jambo_table initiative_table" id="initiative_table" cellspacing="0" width="100%">*@
            </div>
        </div>
    </div>
</div>

