
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutTable.cshtml";
}

@Html.Partial("_ViewKebutuhanDevExpress")

@Html.Partial("_StyleMaster")

<div class="row" style="display: block;">
    <div class="col-md-12 col-sm-12  ">
        <div class="x_panel">
            <div class="x_title">
                <h2>Inititive to Item List</h2>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">

                @using (Html.BeginForm())
                {
                    @Html.Action("GrdCostActionTypePartial")
                }
            </div>
        </div>
    </div>
</div>

