
.number-normal {
color: #ECF0F1;
}
.number-diy {
  /*margin-top: 20px;*/
}
.number-diy .data ._number,
.number-diy2 .data ._number,
.number-diy3 .data ._number {
  background: url(../img/n-bg.png) center no-repeat;
  background-size: 100% 100%;
}
.number-diy .data ._number span,
.number-diy2 .data ._number span,
.number-diy3 .data ._number span {
  background: linear-gradient(to bottom, #FEF1CD, #F9D16B);
  -webkit-background-clip: text;
  color: transparent !important;
}
